#Pastas
AgendaSalao/out
ArrayMultiExe/out
Calculadora/out
EscolaHeranca/out
ExeList/out
ExeListCollections/out
Leitores/out
ListaFuncionarios/out
ListaNomes/out
Mercado/out
VideoPoo/out
treinamentoJava/curso_programacao
treinamentoJava/java-ecosystens/
	treinamentoJava/logica/
treinamentoJava/meuprojeto/
untitled/

#Arquivos
.idea
.iml
.metadata
